.leaflet-control-container {
    display: none;
}
.leaflet-div-icon {
    background: red!important;
    border: none!important;
}

@keyframes bounce {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    60% {
        transform: translateY(20%);
        opacity: 1;
    }
   /* 80% {
        transform: translateY(-10%);
    }*/
    100% {
        transform: translateY(0);
    }
}

/* Aplica la animación de rebote al contenido y al tip para que se ejecuten al mismo tiempo */
.custom-popup .leaflet-popup-content-wrapper {
    position: relative;
    animation: bounce 0.8s linear forwards;
}



.custom-popup .leaflet-popup-content-wrapper {   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.custom-popup .leaflet-popup-content-wrapper::after {
    content: "";
    position: absolute;
    bottom: -18px; /* Ajusta la posición vertical según convenga */
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    opacity: 0;
    animation: showArrow 0.3s forwards;
    animation-delay: 0.8s; /* Espera el término de la animación bounce */
}

@keyframes showArrow {
    to {
        opacity: 1;
    }
}

.custom-popup .leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-tip-container{
    display: none;
}




.custom-popup .leaflet-popup-tip-container {
    top: 76px;
   
}

/*#bac {
    position: absolute;
    overflow: visible;
}

#bac::before {
    content: "";
    position: absolute;
    top: 29%;
    left: 26%;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 238, 144, 0.5); /* fondo verde claro semitransparente 
       border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}
*/